

<h3> Edit Recipe Here </h3> 

<%= form_for @recipe do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :user_id %>
<%= f.collection_select :user_id , User.all , :id , :name %>
<%= f.submit %>
<% end %>    
